<div data-controller="standings" class="space-y-8">

  <h1>League Standings</h1>

  <div class="overflow-x-auto">
    <table class="w-full text-sm">
      <thead>
      <tr class="text-xs uppercase tracking-widest primary">
        <th class="pb-3 text-left">#</th>
        <th class="pb-3 text-left">Team</th>
        <th class="pb-3 text-center">P</th>
        <th class="pb-3 text-center">W</th>
        <th class="pb-3 text-center">D</th>
        <th class="pb-3 text-center">L</th>
        <th class="pb-3 text-center">GF</th>
        <th class="pb-3 text-center">GA</th>
        <th class="pb-3 text-center">PTs</th>
      </tr>
      </thead>
      <tbody data-standings-target="table">
      <%= render 'standings_rows', standings: @standings %>
      </tbody>
    </table>
  </div>

  <h2 class="text-xl primary">Recent Results</h2>

  <div data-standings-target="results" class="grid gap-3">
    <%= render 'match_cards', matches: @matches %>
  </div>
</div>